<div>
    <h2 id="page-heading">
        <span jhiTranslate="golmirjhApp.empleado.home.title">Empleados</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-empleado" [routerLink]="['/empleado/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="golmirjhApp.empleado.home.createLabel">
            Create a new Empleado
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="empleados?.length === 0">
        <span jhiTranslate="golmirjhApp.empleado.home.notFound">No empleados found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="empleados?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nombre"><span jhiTranslate="golmirjhApp.empleado.nombre">Nombre</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="apellido"><span jhiTranslate="golmirjhApp.empleado.apellido">Apellido</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="email"><span jhiTranslate="golmirjhApp.empleado.email">Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="numeroTelefono"><span jhiTranslate="golmirjhApp.empleado.numeroTelefono">Numero Telefono</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="titulo"><span jhiTranslate="golmirjhApp.empleado.titulo">Titulo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fechaContratacion"><span jhiTranslate="golmirjhApp.empleado.fechaContratacion">Fecha Contratacion</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="direccion.id"><span jhiTranslate="golmirjhApp.empleado.direccion">Direccion</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let empleado of empleados ;trackBy: trackId">
                    <td><a [routerLink]="['/empleado', empleado.id, 'view']">{{ empleado.id }}</a></td>
                    <td>{{ empleado.nombre }}</td>
                    <td>{{ empleado.apellido }}</td>
                    <td>{{ empleado.email }}</td>
                    <td>{{ empleado.numeroTelefono }}</td>
                    <td>{{ empleado.titulo }}</td>
                    <td>{{ empleado.fechaContratacion | date:'medium' }}</td>
                    <td>
                        <div *ngIf="empleado.direccion">
                            <a [routerLink]="['/direccion', empleado.direccion?.id, 'view']" >{{ empleado.direccion?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/empleado', empleado.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/empleado', empleado.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(empleado)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
